@charset "utf-8";
@import url('https://cursedprograms.github.io/cursedentertainment/iframes/header/styles/horizontal-menu-style.css');
@import url('https://cursedprograms.github.io/cursedentertainment/styles/content-style.css');
@import url('https://cursedprograms.github.io/cursedentertainment/styles/error-style.css');
@import url('https://cursedprograms.github.io/cursedentertainment/styles/main-style.css');
@import url('/styles/colour-scheme.css');

h1{
    color: #fff;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}

#reader {
    width: 300px;
    height: 300px;
    border: 2px solid #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#result {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    max-width: 300px;
    word-wrap: break-word;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: var(--color2);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}